<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/global.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>
            Harnessing Language for Coordination: A Framework and Benchmark for LLM-Driven Multi-Agent Control
        </title>
    </head>
    <body>
        <div class="markdown-content">
            <slot />
        </div>
    </body>
</html>
