<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body>
        <div class="markdown-content">
            <slot />
        </div>
    </body>
</html>

<style is:global>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: system-ui, sans-serif;
    }

    h1,
    h2 {
        text-align: center;
    }
    iframe {
        border: none;
        display: block;
        margin: 0 auto;
        width: 100%; /* Fill full width of container */
        aspect-ratio: 16/9; /* Maintain 16:9 aspect ratio */
    }
    img {
        width: 100%;
        height: auto;
    }
    .markdown-content {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }

    /* Style markdown elements */
    .markdown-content h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .markdown-content p {
        line-height: 1.6;
        margin-bottom: 1.5rem;
    }

    .markdown-content pre {
        background-color: #f4f4f4;
        padding: 1rem;
        border-radius: 4px;
        overflow-x: auto;
    }
    .authors {
        text-align: center;
        margin: 1rem auto;
        font-size: 0.9rem;
    }
    @media (prefers-color-scheme: dark) {
        html,
        body {
            background-color: black;
            color: white;
        }
        .markdown-content pre {
            background-color: #111;
            color: white;
        }
    }
</style>
